<div class="fluid-container">
    <div class="row ml-3 mr-3">
        <div class="col">
            <div class="card bg-dark">
                <h5 class="card-header">
                    Polygon
                </h5>
                <ul class="list-group list-group-flush">
                    {{#each polygon}}
                    <li class="list-group-item bg-dark">
                        <div class="card bg-secondary">
                            <h5 class="card-header"><a href={{this.link}} target="#">{{this.title}}</a></h5>
                            <div class="card-body">
                                {{#if note}}
                                <h5 class="card-title">Notes</h5>
                                <ul class="list-group-item list-group-flush bg-secondary" style="list-style-type:none;">
                                    <hr>

                                    <li>
                                        <b>{{this.note.title}}</b>
                                    </li>
                                    <li>
                                        <i>{{this.note.body}}</i>
                                    </li>
                                    <hr>
                                </ul>
                                {{/if}}
                                <button value={{this._id}} company="polygon"
                                    class="btn btn-danger mt-2 unfavorite">Unfavorite</button>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark">
                <h5 class="card-header">
                    Gamespot
                </h5>
                <ul class="list-group list-group-flush">
                    {{#each gamespot}}
                    <li class="list-group-item bg-dark">
                        <div class="card bg-secondary">
                            <h5 class="card-header"><a href="https://gamespot.com{{this.link}}"
                                    target="#">{{this.title}}</a></h5>
                            <div class="card-body">
                                <p class="card-text">{{this.summary}}</p>
                                {{#if note}}
                                <h5 class="card-title">Notes</h5>
                                <ul class="list-group-item list-group-flush bg-secondary" style="list-style-type:none;">
                                    <hr>

                                    <li>
                                        <b>{{this.note.title}}</b>
                                    </li>
                                    <li>
                                        <i>{{this.note.body}}</i>
                                    </li>
                                    <hr>
                                </ul>
                                {{/if}}
                                <button value={{this._id}} company="gamespot"
                                    class="btn btn-danger mt-2 unfavorite">Unfavorite</button>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark">

                <h5 class="card-header">Destructoid</h5>

                <ul class="list-group list-group-flush">
                    {{#each destructoid}}
                    <li class="list-group-item bg-dark">
                        <div class="card bg-secondary">
                            <h5 class="card-header"><a href="https://www.destructoid.com/{{this.link}}"
                                    target="#">{{this.title}}</a></h5>
                            <div class="card-body">
                                <p class="card-text">{{this.summary}}</p>
                                {{#if note}}
                                <h5 class="card-title">Notes</h5>
                                <ul class="list-group-item list-group-flush bg-secondary" style="list-style-type:none;">
                                    <hr>

                                    <li>
                                        <b>{{this.note.title}}</b>
                                    </li>
                                    <li>
                                        <i>{{this.note.body}}</i>
                                    </li>
                                    <hr>
                                </ul>
                                {{/if}}

                                <button value={{this._id}} company="destructoid"
                                    class="btn btn-danger mt-2 unfavorite">Unfavorite
                                </button>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>